PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/tpre_commissioning_db
# For MongoDB Atlas (cloud database), replace with your connection string:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/tpre_commissioning_db?retryWrites=true&w=majority
